@font-face {
	font-family: 'caviar';
	src:url('../fonts/caviar_dreams/caviardreams.ttf');
	src:url('../fonts/caviar_dreams/italic.ttf');
	src:url('../fonts/caviar_dreams/bold.ttf');
	src:url('../fonts/caviar_dreams/bolditalic.ttf');
	
}
@font-face {
	font-family: 'prometheus';
	src:url('../fonts/prometheus/PROMETHEUS.ttf');
}
@font-face { 
    font-family: 'reckoning';
	src:url('../fonts/Reckoning.ttf');
}
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
